@media screen and (max-width:1097px) and (min-width:1012px){
	.product-btn{
		left:70%;
		width:18%;
	}
}




@media screen and (max-width:1011px) and (min-width:898px){


.product-btn{
		left:65%;
		width:21%;
	}



	.colum{
		/* flex-direction:column; */
		grid-row-gap:.6rem;
		/* text-align:center; */
	}
	.main-img img{
	height:390px;
   }
/*     .para2{
	width:70%;
  } */
    .intro-txt{
	padding:1.3rem 0 0 0;
 }
 .span-1{
	font-size:5rem;
}
.btn{
padding:1.6rem 0 0 0;
}


}

@media screen and (max-width:897px) and (min-width:602px){


	.product-btn{
		left:55%;
		width:24%;
	}

	.colum{
		flex-direction:column;
		text-align:center;
		/* padding:4rem 0 0 0; */
	}
	.main-img img{
	height:325px;
   }
   .main-img{
   padding:2.5rem 0 0 0;
   }
    .intro-txt{
	padding:1.3rem 0 0 0;
 }
 .span-1{
 /* 	font-size:4rem; */
	font-size:6rem;
}
.btn{
padding:1.6rem 0 0 0;
}
.header{
	/* flex-direction:column; */
	text-align:center;
	justify-content:space-around;
}
.logo{
	font-size:2.1rem;
}
.ul1{
	background-color:white;
	width:150px;
    display:none;
	align-items:center;
	text-align: center;
}


nav{
	position:relative;
	top:10rem;
}
.active-li{
	border: none;
}

.ul1 li{
	padding:1.8rem 0 0 0;
}

.ul1 li:hover{
	border: none;
	
}
.ul1 li a,.ul2 li a{
	font-size:1.4rem;
}
.ul1 li a:hover{
color:#993366;
}

.ul2{

     border:none;
	width:100%;
}
.ul2 li{
	padding:0 0 .1rem 0;
	background-color:lightgray;
}
.ul2 li a:hover{
	color:#993366;
}

.cart{
	right:2.6rem;
	/* font-size:1rem; */
	/* float:right; */
}
.burger{
	cursor:pointer;
	position:relative;
	right:2.7rem;
	display:block;
}


.login{
	position:relative;
	right:.8rem;
}


}

@media screen and (max-width:601px) and (min-width:472px){


.product-btn{
		left:40%;
		width:28%;
	}


.header{
	/* flex-direction:column; */
	text-align:center;
	justify-content:space-around;
}
.logo{
	font-size:2.1rem;
}
.ul1{
	background-color:white;
	width:150px;
    display:none;
	align-items:center;
	text-align: center;
}


nav{
	position:relative;
	top:10rem;
}
.active-li{
	border: none;
}

.ul1 li{
	padding:1.8rem 0 0 0;
}

.ul1 li:hover{
	border: none;
	
}
.ul1 li a,.ul2 li a{
	font-size:1.4rem;
}
.ul1 li a:hover{
color:#993366;
}

.ul2{

     border:none;
	width:100%;
}
.ul2 li{
	padding:0 0 .1rem 0;
	background-color:lightgray;
}
.ul2 li a:hover{
	color:#993366;
}

.cart{
	right:2.6rem;
	/* font-size:1rem; */
	/* float:right; */
}
.burger{
	cursor:pointer;
	position:relative;
	right:2.7rem;
	display:block;
}

.login{
	position:relative;
	right:.8rem;
}


.colum{
    flex-direction:column;
    text-align:center;
    padding:3.6rem 0 0 0;
}
.main-img img{
	height:300px;
}
.main-img{
   padding:2.5rem 0 0 0;
}
.intro-txt{
	padding:1.3rem 0 0 0;
}
 .span-1{
    font-size:4rem;
}
.btn{
    padding:1.6rem 0 0 0;
}

}



@media screen and (max-width:471px) and (min-width:300px){


.product-btn{
		left:20%;
		width:54%;
	}


.header{
	
	/* flex-direction:column; */
	text-align:center;
	justify-content:space-around;
}
.logo{
	font-size:1.4rem;
	position:relative;
	/* right:1.3rem; */
	flex-basis:130px;
}
.ul1{
	background-color:white;
	width:100px;
    display:none;
	align-items:center;
	text-align: center;
}


nav{
	position:relative;
	top:10rem;
}
.active-li{
	border: none;
}

.ul1 li{
	padding:1.8rem 0 0 0;
}

.ul1 li:hover{
	border: none;
	
}
.ul1 li a,.ul2 li a{
	font-size:1.2rem;
}
.ul1 li a:hover{
color:#993366;
}

.ul2{

     border:none;
	width:100%;
}
.ul2 li{
	padding:0 0 .1rem 0;
	background-color:lightgray;
}
.ul2 li a:hover{
	color:#993366;
}

.cart{
	font-size:1.4rem;
	/* float:right; */
}
.burger{
	position:relative;
	right:1.5rem;
	display:block;
	cursor:pointer;
}

.login{
	font-size:1.3rem;
	position:relative;
	right:.7rem;
}


.colum{
    flex-direction:column;
    text-align:center;
    padding:3.6rem 0 0 0;
}
.main-img img{
	height:240px;
}
.main-img{
   padding:2.5rem 0 0 0;
}
.intro-txt{
	padding:1.3rem 0 0 0;
}
 .span-1{
    font-size:3.5rem;
}
.btn{
    padding:1.6rem 0 0 0;
}

.container2{
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}

.bg2 img{
	width:200px;
	height:200px
}

.container3{
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}

.bg3 img{
	width:200px;
	height:200px
}

.container4{
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}

.bg4 img{
	width:200px;
	height:200px
}

.container5{
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}

.bg5 img{
	width:200px;
	height:200px
}
.bg6 img{
	width:150px;
	height:40px;
}

.container2{
	margin:9rem auto;
}

}
